
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/signup" method="POST">
	<input type="text" name="username" placeholder="username" required>
	<input type="text" name="email" placeholder="email" required>
	<input type="password" name="password" placeholder="password" required>
	<button type="submit" >Signup</button>
</form>
</body>
</html>